@import "tailwindcss";

:root {
  --color-primary: #df2531;
  --color-secondary: #000000;
  --color-background: #ffffff;
  --color-text: #000000;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-text);
  --font-sans: var(--font-kanit);
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-kanit), sans-serif;
}

/* Custom utility classes */
.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}
